

.profile {
    height: 120px;
    object-fit: cover;
    vertical-align: middle;

    
}
.search {
  font-size: 18px;
  width: 300px;
  border: none;
  vertical-align: middle;
  border-radius: 30px;
  padding-left: 20px;
  display: block;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

