
p{
  font-family: Montserrat;
  margin: 0; 
  text-align: center; 
}

.Title {
    margin: 10px;
    font-size: 50px;
    font-weight: bold;
}

.order {
    font-size: 25px;

}
.delivery {
    transition: text-decoration 0.15s ;
    cursor: pointer;
}
.delivery:hover {
    text-decoration: underline;

}

.profile {
    height: 120px;
    border-radius: 60px;
    object-fit: cover;
    vertical-align: middle;
}
 .search {
    
 }