
p{
  margin: 0;
}

.mail-layout{

}

.mail-img{
  height: 60px ;
  width: 60px ;
  object-fit: cover;
  border-radius: 40px;
}


.mail-content{
  display: flex;
  
}
.mail-title{
  font-weight: bold;

}
.mail-time{
   margin-left: 30px;
}

.mail-subtitle{
  display: block;
}