@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
  background-color: rgb(51, 114, 250);
}

.App {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  
}